<!DOCTYPE html>
<html>

<head>
    <title>My Blog</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <center>
        <h1 class="header"><span style="color: lime;">Silvereen</span><span style="font-style: italic;">.dev</span></h1>
        <!-- <div style="width: 1px; height: 1vh"></div> -->
        <p>Heyo! Welcome to my new blog! I've switched from Fewari to my own custom site. It looks like crap now, but
            I'll continue to update it on my free time.</p>

        <div style="width: 1px; height: 2vh"></div>
        <hr class="hr-homepage">
        <div style="width: 1px; height: 2vh"></div>
        <div class="post-container">
            <% posts.forEach(post=> { %>
                <div class="post-box" onclick="window.open('/post/<%= post.url %>')">
                    <h2 class="post-title"><%= post.title %></h2>
                    <hr class="hr-homepage">
                    <p><%= post.excerpt %></p>
                </div>
            <% }) %>
        </div>
    </center>
</body>

</html>

<!--
Hello there wonderer!! Seems like you have stumbled upon the source code. While you are here, I'd like to attribute a few tools I used in the creation of this website:
- Space background generator (https://deep-fold.itch.io/space-background-generator)
- Glassmorphism CSS (https://css.glass/)

...and too the many other websites I took inspiration from. Any questions? Email me directly at silvereen@silvereen.net
Special tribute to -Doug
-->