<!DOCTYPE html>
<html>

<head>
    <title>
        <%= post.title %>
    </title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <center>

        <h1 class="header">
            <%= post.title %>
        </h1>
        <hr class="hr-homepage">
        <div class="post-content">
            <%- post.content %>
        </div>

        <hr class="hr-homepage">

        <p>
            <script>
                const date = new Date("<%= post.created %>");
                document.write(
                    date.toLocaleString(undefined, {
                        dateStyle: "medium",
                        timeStyle: "short"
                    })
                );
            </script>
        </p>
    </center>
</body>

</html>